/* You can add global styles to this file, and also import other style files */

* {
    // font-family: 'Quicksand', sans-serif;
    // font-weight: 500;
}

input:focus {
  outline: none !important;
}

.ant-layout {
  background: #f0f2f54f;
}

.ql-toolbar.ql-snow {
  border-radius: 6px 6px 0 0;
}